{% extends 'Blog_Home.html' %}
{% load static %}
{% block content %}
  <h2> Add Post </h2><br>
            {% csrf_token %}  
            <div class='container'>
              <div class="col-sm-10">
                 <form method="POST">
                     {% csrf_token %}
                     {% for i in form %} 
                           <div class='form-group'>
                           {{i.label_tag}} {{i}} {{i.errors|striptags}}<br>
                         </div>
                     {% endfor %} 
                     {% if form.non_field_errors %}
                          {% for error in form.non_field_errors %}
                          <p>{{error}}</p>
                          {% endfor %}
                          {% endif %} <br>
                          <input type="submit" class='btn btn-primary' value="Submit">
                 </form> 
      {% endblock %}