body{
    background-color: rgb(75,74,74);
    color: antiquewhite;
}
.jumbotron{
width:90%;
}
.a{
position: relative;
padding-left: 150px;
}
.display-4{
padding-left: 20px;
}
.lead{
padding-left: 40px;
}
.lead1{
padding-bottom: 10px;
}
p{
padding-left: 20px;
}

/* About page */
.aa{
    position: relative;
    padding-left: 200px;
}
.jumbotron1{
    width: 80%;
}